<h1>About page</h1>
<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/contact">Contact</a>
  </li>
</ul>
<p>Due to their higher boiling points, only metals and silicates could exist in
  solid form in the warm inner Solar System close to the Sun, and these would
  eventually form the rocky planets of Mercury, Venus, Earth, and Mars. Because
  metallic elements only comprised a very small fraction of the solar nebula,
  the terrestrial planets could not grow very large.
</p>