<h1>Home page</h1>
<ul>
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="/contact">Contact</a>
  </li>
</ul>
<p>The Solar System formed 4.568 billion years ago from the gravitational
  collapse of a region within a large molecular cloud.[e] This initial cloud was
  likely several light-years across and probably birthed several stars.[11] As
  is typical of molecular clouds, this one consisted mostly of hydrogen, with
  some helium, and small amounts of heavier elements fused by previous
  generations of stars.
</p>
<img src="images/car.webp" alt="car" width="500px" />