<h1>Form sent {{message}}</h1>
<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/contact">Contact</a>
  </li>
</ul>
<p>Form sent by
  {{name}}
</p>
<p>Contact email is
  {{email}}
</p>